{% extends 'base.html'%}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>Spanish giants Real Madrid have now already repaid for how much they spent on Eden Hazard by their sales this summer.</b></p>
                        <a style="font-size: 15px" href="https://www.calciomercato.com/en/news/hazard-fee-already-repaid-by-real-madrid-sales-the-figures-64080">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>From the Lionesses in France to Cori Gauff at Wimbledon, there have been no shortage of success stories of late but Castleford in West Yorkshire is hardly somewhere that immediately springs to mind when thinking of women’s sport.</b></p>
                        <a style="font-size: 15px" href="https://www.theguardian.com/sport/2019/jul/06/womens-rugby-league-castleford-georgia-roche-challenge-cup">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>The Tour de France 2019 kicked off on Saturday July 6, with three weeks of racing, including five mountain top finishes and a total of 3,460 kilometres.</b></p>
                        <a style="font-size: 15px" href="https://www.cyclingweekly.com/news/racing/tour-de-france/tour-de-france-route-192041">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>New Zealand Rugby, the national governing body for rugby union and the organisation behind the All Blacks, has suffered a loss of NZ$1.9 million for the 2018 financial year, with future budget predictions looking bleak.</b></p>
                        <a style="font-size: 15px" href="https://ministryofsport.com.au/new-zealand-rugby-suffer-financial-losses-in-2018-the-future-doesnt-look-much-better/">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>Barcelona new signing Frenkie de Jong says deciding to move to the Camp Nou from Ajax was a pretty easy decision.</b></p>
                        <a style="font-size: 15px" href="https://www.barcablaugranes.com/fc-barcelona-transfer-rumors-news/2019/7/6/20683625/frenke-de-jong-says-joining-barcelona-was-an-easy-decision">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                   
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>Every summer cycling enthusiasts anticipate the start of the Tour de France, and in more recent times, in the north of the UK, the Tour de Yorkshire.</b></p>
                        <a style="font-size: 15px" href="http://theconversation.com/the-unbearable-whiteness-of-cycling-76256">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>On paper, the new-look Clippers are arguably best team in the league. But Los Angeles still needs a few things to go its way in order to reach its mind-boggling potential with Kawhi and Paul George.</b></p>
                        <a style="font-size: 15px" href="https://www.si.com/nba">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>
                            It is sometimes taken for granted that once a cyclist reaches a competent level, their bike-handling skills are good enough. Not true.</b></p>
                        <a style="font-size: 15px" href="https://www.cyclingweekly.com/fitness/improve-bike-handling-303933">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>The Rutgers women’s basketball team earned its first trip to the NCAA Tournament in four seasons on Monday, as they were selected as the 7 seed in the Albany Region.</b></p>
                        <a style="font-size: 15px" href="https://www.onthebanks.com/2019/3/18/18271571/rutgers-womens-basketball-earns-seed-in-2019-ncaa-tournament-big-ten-c-vivian-stringer-buffalo-uconn">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>After weeks of back-and-forth with Crystal Palace, Manchester United finally got their man. Aaron Wan-Bissaka, one of the best young defenders in the Premier League, signed on to the Ole Gunnar Solskjaer project for an initial £45 million fee.</b></p>
                        <a style="font-size: 15px" href="https://thebusbybabe.sbnation.com/2019/7/3/20679888/aaron-wan-bissaka-from-every-angle-manchester-united-crystal-palace">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>Maryland basketball has escaped its toughest stretch of the season. In a five-game span that included four road contests and four meetings with ranked foes, the No. 24 Terps emerged 3-2.</b></p>
                        <a style="font-size: 15px" href="https://www.testudotimes.com/maryland-terps-basketball/2019/2/22/18235117/ohio-state-game-stats-rematch-preview-big-ten-schedule-standings">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card ml-4 mt-4" style="width: 40rem;">
                    
                    <div class="card-body">
                        <p style="font-size: 15px" class="card-name"><b>Amateur rugby clubs in France will trial law changes which include lowering the height of a tackle and banning tackles by two players next season, the French Rugby Federation’s (FFR) technical director Didier Retiere said on Tuesday.</b></p>
                        <a style="font-size: 15px" href="https://www.foxsports.com.au/rugby/not-above-waist-no-twoman-tackles-rugbys-bizarre-rule-changes/news-story/8234dd80b739e81f716a9923c130ae89">Read more</a>
                        <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
</body>

</html>
{% endblock%}
